body {
  margin: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-color: var(--amplify-colors-green-20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.amplify-button--primary {
  background: linear-gradient(
    to right,
    var(--amplify-colors-green-80),
    var(--amplify-colors-orange-40)
  );
}

.amplify-button--small {
    color: var(--amplify-colors-green-80);
} 

[data-amplify-authenticator] {

    margin-top: 10%;
}

.amplify-tabs__item {
    color: var(--amplify-colors-black)
}

.amplify-tabs__item--active {
    color: var(--amplify-colors-green-80);
    border-color:var(--amplify-colors-green-80);
}

.amplify-label {
    color: var(--amplify-colors-black)
}